# LaTeX auxiliary files
*.aux
*.lof
*.lot
*.toc
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
*.bcf
*.run.xml

# Index files
*.idx
*.ilg
*.ind

# Glossary files
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs

# Other temporary files
*.backup
*~
*.swp
*.swo
*.bkp
*.aux
